.question-text {
    text-align: left;
    margin-top: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}

.alert {
    margin: 0.4rem auto;
    width: fit-content;
    padding: 0.5rem;
}

.name-help {
    float: right;
}

.leave-a-comment {
    height: 8rem !important;
}