.navbar-title {
    color: white;
    font-family: archivo black !important;
}

.navbar-title:hover {
    text-emphasis: underline;
    color: white;
}

.search-button {
    background-color: white !important;
}