.survey-header {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1rem;
}

.nav-tabs {
    border-bottom: 0;
    margin: auto
}

.comp-name {
    color: #3F52B5
}

.nav-link {
    background-color: #545b62;
    border-color: #4e555b;
    color: white;
    margin: 0.5rem 0.5rem;
    border-radius: 3rem !important;
}

.nav-link.active {
    background-color: #3F52B5 !important;
}

.nav-link:hover, .nav-link.active:hover {
    background-color: #0063cc;
    color: white;
}

.survey-type {
    font-family: overpass;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.survey-container {
    border: 2px grey;
    border-radius: 1rem; 
}

.tab-content {
    width: 70%;
    margin: auto;
}

.card {
    width: 60%; 
    margin: 1.5rem auto;
    padding: 1rem;
    background-color: white;
}

.submit-form {
    border-color: #3F52B5;;
    background-color: #3F52B5;;
    margin-bottom: 2rem;
    margin-top: 1rem;
}