.survey-header {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1rem;
}

.nav-tabs {
    border-bottom: 0;
    margin: auto
}

.nav-link {
    background-color: #545b62;
    border-color: #4e555b;
    color: white;
    margin: 0.5rem 0.5rem 2rem;
    border-radius: 3rem !important;
}

.nav-link:hover, .nav-link.active:hover {
    background-color: #0063cc;
    color: white;
}

.survey-type {
    margin-top: 1.5rem;
    font-style: italic;
    font-size: 1.2rem;
}

.survey-container {
    border: 2px grey;
    border-radius: 1rem; 
}